# Logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Next.js
.next
out
next-env.d.ts
*.tsbuildinfo

# Production
dist
build

# Misc
.DS_Store
.env
.env.local
.env*.local
.vercel
.idea
.vscode/*
!.vscode/extensions.json
